**DATA TYPES AND STRUCTURES**

Q.1 - What are data structures, and why are they important ?
ans - What Are Data Structures?
Data structures are specialized formats for organizing, processing, and storing data in a computer so it can be used efficiently. They define the relationship between the data and the operations that can be performed on it.

Q.2 -  Explain the difference between mutable and immutable data types with examples.
ans - mutables data types are change after the creation and immutable data types can't be change after creation.

Q.3 - What are the main differences between lists and tuples in Python?

ans - lists are mutable,list are represent with square bracket[ ],slower due to mutability.

tuples are immutable, tuples are represent with parenthisis( ),faster due to immutability

Q.4 - Describe how dictionaries store data.

ans- Dictionaries in Python store data as key-value pairs using a highly efficient structure called a hash table.

Q.5 - Why might you use a set instead of a list in Python?

ans - A set is an unordered collection of unique elements, and it offers several advantages over lists in specific situations.

Q.6 - What is a string in Python, and how is it different from a list.

ans - A string in Python is a sequence of characters enclosed in single ('), double ("), or triple quotes (''' or """).

Q.7 - How do tuples ensure data integrity in Python.

ans - Tuples help ensure data integrity by being immutable, meaning their contents cannot be changed after creation. This makes them ideal for storing data that should remain constant throughout a program.

Q.8 - What is a hash table, and how does it relate to dictionaries in Python.

ans- A hash table is a data structure that stores data in key-value pairs and uses a hashing function to compute an index into an array where the value will be stored or retrieved.

Q.9 - Can lists contain different data types in Python.

ans. Python lists are heterogeneous, meaning they can store elements of various data types in a single list.

Q.10 - Explain why strings are immutable in Python

ans - Strings are immutable in Python because once a string is created, its contents cannot be changed. This design choice brings several important benefits in terms of performance, security, and reliability.

Q.11 - What advantages do dictionaries offer over lists for certain tasks.

ans -Dictionaries and lists are both useful, but dictionaries are better for specific tasks due to their key-based structure and faster access times.

Q.12-  Describe a scenario where using a tuple would be preferable over a list.

ans- A tuple is an immutable, ordered collection of elements in Python used to store fixed sets of related data.

Q.13 - How do sets handle duplicate values in Python.

ans - Sets automatically remove duplicate values.
When you add duplicate elements to a set, only one copy is kept.

Q.14 - How does the “in” keyword work differently for lists and dictionaries.

ans - The in keyword checks for values in lists but checks for keys in dictionaries.

Q.15 - Can you modify the elements of a tuple? Explain why or why not.

ans - No, you cannot modify the elements of a tuple because tuples are immutable in Python.

Q.16 - What is a nested dictionary, and give an example of its use case

ans - A nested dictionary is a dictionary inside another dictionary. It allows you to represent hierarchical or structured data in a clean and organized way.
use case = Storing Student Records

Q.17 -  Describe the time complexity of accessing elements in a dictionary.

ans - Accessing elements in a dictionary in Python has the following time complexity:

Average case and worst case

Q.18 - In what situations are lists preferred over dictionaries.

ans- When Order Matters,When Data Has No Key-Value Relationship,When Iteration in Order Is Required,When Memory Efficiency Is Important,When Access by Position Is Needed

Q.19 - Why are dictionaries considered unordered, and how does that affect data retrieval

ans - 1. Dictionaries are considered unordered because they are designed for key-based access rather than positional access. Traditionally, they did not guarantee the order of elements, and their internal structure is based on hash tables, which store items according to the hash value of their keys, not their insertion order.

2. Since dictionaries are unordered, elements cannot be accessed by index or position. Retrieval is done using keys only, and the order of elements is not reliable for operations like iteration or display in versions prior to Python 3.7.

Q.20 -  Explain the difference between a list and a dictionary in terms of data retrieval.

ans - List:
A list retrieves data by index. Each element in a list is accessed using its position in the sequence.

Example: my_list[0] returns the first item.

Retrieval is position-based.

Dictionary:
A dictionary retrieves data by key. Each value is associated with a unique key, and access is done using this key, not position.

Example: my_dict["name"] returns the value for the key "name".

Retrieval is key-based.

**PRACTICAL QUESTIONS**

In [ ]:
# Q.1 - Write a code to create a string with your name and print it.
name="prathamesh"
print(name)

prathamesh

In [ ]:
# Q.2 Write a code to find the length of the string "Hello World"
name = "Hello World"
len(name)

11

In [ ]:
# Q.3- Write a code to slice the first 3 characters from the string "Python Programming"
name = "Python Programming"
name[0:3]

'Pyt'

In [ ]:
# Q.4 - Write a code to convert the string "hello" to uppercase
name ="hello"
name.upper()

'HELLO'

In [ ]:
# Q.5 - Write a code to replace the word "apple" with "orange" in the string "I like apple"
name ="I like apple"
name
name.replace("apple","orange")

'I like orange'

In [ ]:
# Q.6 - Write a code to create a list with numbers 1 to 5 and print it
List = [1,2,3,4,5,]
print(List)

[1, 2, 3, 4, 5]

In [ ]:
# Q.7 - Write a code to append the number 10 to the list [1, 2, 3, 4].
List =[1,2,3,4]
List.append(100)
print(List)

[1, 2, 3, 4, 100]

In [ ]:
# Q.8 - Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
List = [1, 2, 3, 4, 5]
List.remove(5)
print(List)

[1, 2, 3, 4]

In [ ]:
# Q.9-Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
List = ['a', 'b', 'c', 'd']
List [1]

'b'

In [ ]:
# Q.10 - Write a code to reverse the list [10, 20, 30, 40, 50].
List = [10, 20, 30, 40, 50]
List
List.reverse()
print(List)

[50, 40, 30, 20, 10]

In [ ]:
# Q.11 - Write a code to create a tuple with the elements 100, 200, 300 and print it.
Tuple =(100,200,300)
print(Tuple)

(100, 200, 300)

In [ ]:
# Q.12 -  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
my_tuple[-2]

'blue'

In [ ]:
# Q.13 - Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
my_tuple=min(my_tuple)
print("minimum value of my_tuple is : ",my_tuple)

minimum value of my_tuple is :  5

In [ ]:
# Q.14  -Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
my_tuple.index("cat")

1

In [ ]:
# Q.15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple=("Apple","Banana","kiwi")
if "kiwi" in my_tuple:
    print("Kiwi is present in tuple")
else:
    print("Kiwi is not present in tuple")

Kiwi is present in tuple

In [ ]:
# Q.16 - Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print("Set:", my_set)

Set: {'b', 'c', 'a'}

In [ ]:
# Q.17 -  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
my_set

set()

In [ ]:
# Q.18 -  Write a code to remove the element 4 from the set {1, 2, 3, 4}
my_set =  {1, 2, 3, 4}
my_set.remove(4)
my_set

{1, 2, 3}

In [ ]:
# Q.19 - Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
S1 ={1, 2, 3}
S2 ={3, 4, 5}
print("Union :-",S1|S2)

Union :- {1, 2, 3, 4, 5}

In [ ]:
# Q.20 - Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
S1 =  {1, 2, 3}
S2 =  {2, 3, 4}
print("intersection :- ",S1 & S2)

intersection :-  {2, 3}

In [ ]:
# Q.21 - Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name" : "prathamesh", "age": 20, "city": "ahilyanagar"}
print(my_dict)

{'name': 'prathamesh', 'age': 20, 'city': 'ahilyanagar'}

In [ ]:
# Q.22 - Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dictionary = {'name': 'John', 'age': 25}
print("Orignal dict",dictionary)

dictionary["country"]="USA"
print("new dict : ", dictionary)

Orignal dict {'name': 'John', 'age': 25}
new dict :  {'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# Q.23 -  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict ={'name': 'Alice', 'age': 30}
print(my_dict["name"])

Alice

In [ ]:
# Q.24 -  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print("original dictionary : ",my_dict)

my_dict.pop("age")
print("new dictionary : ",my_dict)

original dictionary :  {'name': 'Bob', 'age': 22, 'city': 'New York'}
new dictionary :  {'name': 'Bob', 'city': 'New York'}

In [ ]:
#Q.25 - Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
my_dict ={'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict :
  print(" city exists in dictionary")
else:
  print("city not exists in dictionary")

city not exists in dictionary

In [ ]:
# Q.26 - Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list =[1,2,3,4,5]
my_tuple =(1,2,3,4,5)
my_dict = {'a': 'b','c':'d'}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'a': 'b', 'c': 'd'}

In [ ]:
# Q.27 - Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
my_list =random.sample (range(0,101),5)
my_list.sort()
print(my_list)

[10, 31, 42, 53, 60]

In [ ]:
# Q.28 - Write a code to create a list with strings and print the element at the third index
my_list = ["pratham","data","python","pwskills"]
print(my_list[3])

pwskills

In [ ]:
# Q.29 - Write a code to combine two dictionaries into one and print the result.
my_dict1 = {'a': "A", 'b': "B"}
my_dict2 = {'c':'C', 'd': "D"}
mix_dict = my_dict1 | my_dict2
print(mix_dict)

{'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D'}

In [ ]:
# Q.30 - Write a code to convert a list of strings into a set
my_list = ["pratham","data","python","pwskills"]
print(type(my_list))
my_list = set(my_list)
print("now the list is set ",type(my_list))

<class 'list'>
now the list is set  <class 'set'>